{% extends 'base.html.twig' %}

{% block body %}
<div id="app">
		<!-- SubHeader =============================================== -->
        <section class="parallax-window" data-parallax="scroll" data-image-src="/img/banner.jpg" data-natural-width="1366" data-natural-height="666">
            <div id="subheader">
                <div id="sub_content">
                    <div id="thumb"><img src="/img/logo_full.png" alt=""></div>
                    
                    <h2 style="color: #fff">原味靚湯，自家製作</h2>
                    <div><i class="icon_pin"></i> <strong>送貨地區：</strong> 九龍灣</div>
                    <div><i class="icon_clock"></i> <strong>送貨時間：</strong> 12:00 ~ 13:30</div>
                </div><!-- End sub_content -->
            </div><!-- End subheader -->
        </section><!-- End section -->
        <!-- End SubHeader ============================================ -->
        
        <!-- Content ================================================== -->
        <div class="container margin_60_35">
            <div class="row">
                
                <div class="col-md-3">
                    <div class="box_style_2 hidden-xs" id="help">
                        <img src="/img/whatsapp.png" style="width: 60px" />
                        <h4>聯絡客服</h4>
                        <a href="tel://56891075" class="phone">56891075</a>
                        <small>服務時間：9.00am - 3.30pm</small>
                    </div>
                </div><!-- End col-md-3 -->
                    
                <div class="col-md-6">
                    <div class="box_style_2" id="main_menu">
                        <h2 class="inner">餐牌</h2>
                        <h3 class="nomargin_top" id="starters">是日靚湯</h3>
                        <p>
                            每月均有提供不同的是日靚湯，詳情請留意靚佬湯FB專頁。
                        </p>
                        <table class="table table-striped cart-list">
                            <thead>
                                <tr>
                                    <th>
                                        單品
                                    </th>
                                    <th>
                                        價錢
                                    </th>
                                    <th>
                                        落單
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="soup in soups">
                                    <td class="description">
	                                    <figure class="thumb_menu_list"><img src="/img/menu-thumb-1.jpg" alt="thumb"></figure>
	                                    <h5>[[ soup['name'] ]]</h5>
	                                    <p>
	                                        [[ soup['description'] ]]
	                                    </p>
	                                </td>
	                                <td>
	                                    <strong>$ [[ soup['price'] ]]</strong>
	                                </td>
	                                <td>
	                                    <a href="javascript:void(0)" v-on:click="updateOrder(soup['id'], 'add')"><i class="icon_plus_alt2 add_btn"></i></a>
	                                </td>
	                            </tr>
	                        </tbody>
                    	</table>
                    <hr>
                    <h3 id="main_courses">湯券</h3>
                    <p>
                        - 優惠券$350/10張，買20張送1張，即$700/21張。<br>
                        - 每張優惠券可換領$38之湯水一盅，不可換領其他產品。<br>
                        - 優惠券不能兌換現金，不可與其他優惠一同使用。<br>
                    </p>
                    <table class="table table-striped cart-list ">
                        <thead>
                            <tr>
                                <th>
                                    單品
                                </th>
                                <th>
                                    價格
                                </th>
                                <th>
                                    下單
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="coupon in coupons">
                                <td class="description">
                                    <figure class="thumb_menu_list"><img src="/img/menu-thumb-1.jpg" alt="thumb"></figure>
                                    <h5>[[ coupon['name'] ]]</h5>
                                    <p>
                                        [[ coupon['description'] ]]
                                    </p>
                                </td>
                                <td>
                                    <strong>$ [[ coupon['price'] ]]</strong>
                                </td>
                                <td>
                                    <a href="javascript:void(0)" v-on:click="updateOrder(coupon['id'], 'add')"><i class="icon_plus_alt2 add_btn"></i></a>
                                </td>
                            </tr>	
	                    </tbody>
	                </table>
	            </div><!-- End box_style_1 -->
	        </div><!-- End col-md-6 -->
                
        <div class="col-md-3" id="sidebar">
            <div class="theiaStickySidebar">
                <div id="cart_box">
                    <h3>您的訂單 <i class="icon_cart_alt pull-right"></i></h3>
                    <div class="orders_wrapper" v-show="showList">
                    	<table class="table table_summary" >
	                        <tbody>
	                            <tr v-for="(quantity, id) in orders" v-if="id != 0 && quantity > 0">
									<td>
	                                    <a href="javascript:void(0)" class="remove_item" v-on:click="updateOrder(id, 'remove')"><i class="icon_minus_alt"></i></a> <strong>[[ quantity ]]<i class="icon-cancel"></i></strong>[[ products[id]['name'] ]]
	                                </td>
	                                <td>
	                                    <strong class="pull-right">$[[ products[id]['price'] ]]</strong>
	                                </td>
	                            </tr>
	                        </tbody>
	                    </table>
	                    <hr>
	                    <div id="coupons" v-show="regularSoups > 0">
							<div id="use_coupon" >使用優惠券 <span id="times"><i class="icon-cancel"></i></span> [[ usedCoupons ]]</div>
							<div class="pull-right">
								<a href="javascript:void(0)" class="remove_item" v-show="usedCoupons > 0" v-on:click="updateCouponUsage('remove')"><i class="icon_minus_alt"></i></a>
								<a href="javascript:void(0)" class="add_item" v-show="usedCoupons < regularSoups" v-on:click="updateCouponUsage('add')"><i class="icon_plus_alt"></i></a>
								
							</div>
							<hr>
	                    </div>
	                    
	                    <table class="table table_summary">
	                        <tbody>
	                        	<tr>
	                        		<td class="subtotal">
	                                    小計：<span class="pull-right">$[[ subtotal ]]</span>
	                                </td>
	                            </tr>
	                            <tr>
									<td class="total">
	                                    總數：<span class="pull-right">$[[ total ]]</span>
	                                </td>
	                            </tr>
	                        </tbody>
	                    </table>
	                    
	                    <hr>
	                    <a class="btn_full" href="{{ url('cart') }}">提交訂單</a>
                    </div>
                    <div v-show="!showList">
                    	<p>訂單未有任何單品</p>
                    </div>
                </div><!-- End cart_box -->
            </div><!-- End theiaStickySidebar -->
        </div><!-- End col-md-3 -->
                    
    </div><!-- End row -->
    </div><!-- End container -->
    <!-- End Content =============================================== -->
</div>
{% endblock %}

{% block vuescript %}
<script>
    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return false;
    }

    $('#sidebar').theiaStickySidebar({
        additionalMarginTop: 80
    });
</script>
<script>
	var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
        	soups:{{(soups|json_encode|raw)}},
        	coupons: {{(coupons|json_encode|raw)}},
        	products: {{(products|json_encode|raw)}},
        	orders: {{(orders|json_encode|raw)}},
        	showList: false,
        	subtotal: 0,
        	total: 0,
        	usedCoupons: {{ usedCoupons }},
        	regularSoups: 0
    	},
    	methods: {
    		updateOrder: function(id, action){
    			if (action == 'add'){
    				if (typeof this.orders[id] == 'undefined'){
    					Vue.set(app.orders, id, 1);
    					// app.orders[id] = 1;
	    			} else {
	    				Vue.set(app.orders, id, app.orders[id] + 1);
	    			}
	    			if (!this.showList) this.showList = true;
    			} else {
    				Vue.set(app.orders, id, app.orders[id] - 1);

    				var orderHasItems = false;
    				for (var k in this.products){
    					if (typeof this.orders[k] != 'undefined' && this.orders[k] > 0) orderHasItems = true
    				}
    				if (!orderHasItems) {
    					this.orders = [];
    					this.showList = false;
    				}
    			}

    			this.updateTotal();
    		},
    		updateCouponUsage: function(action){
    			var toUpdate = false;
    			if (action == 'add'){
    				if (this.usedCoupons < this.regularSoups) {
    					this.usedCoupons++;
    					toUpdate = true;
    				}
    			} else {
    				if (this.usedCoupons > 0){
    					this.usedCoupons--;
    					toUpdate = true;
    				}
    			}
    			if (toUpdate) this.updateTotal();
    		},
    		updateTotal: function(){
    			this.subtotal = 0;
    			this.total = 0;
    			this.regularSoups = 0;
    			for (var i in this.orders){
                    if (i==0) continue;
                    this.subtotal += this.products[i]['price'] * this.orders[i];
    				if (this.products[i]['price'] == 38){
    					this.regularSoups+=this.orders[i];
    				}
    			}
                if (this.regularSoups < this.usedCoupons) this.usedCoupons = this.regularSoups;
    			this.total = this.subtotal - (this.usedCoupons * 38);

    			var date = new Date();
	            date.setTime(date.getTime() + (30*60*1000)); // 30 minutes
	            var expires = "; expires=" + date.toUTCString();
	            document.cookie = 'tongcrew_orders=' + JSON.stringify(this.orders) + expires + "; path=/";
                document.cookie = 'tongcrew_usedCoupons=' + this.usedCoupons + expires + "; path=/";
    		}
    	},
        mounted: function(){
            if (this.orders.length > 0){
                this.showList = true;
                this.updateTotal();
            }
        }
    });
</script>

{% endblock %}